/* Styling Profile image and name below the navbar starts*/

#profile-header {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #cc8800;
  position: relative;
}

#profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profile-name {
  text-align: center;
}

#profile-img-container{
  padding:2%;
}

/* Styling Profile image and name below the navbar ends*/

/* Display style for desktop */

@media(min-width:1024px) {
  #profile-header {
    width: 30%;
  }

  
}